{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <p class="h1">{{ title }}</p>
        {% include 'home/menu.html.twig' %}
    </div>
{% endblock %}
